<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style='height: 0;width: 0;overflow: hidden;float: left;'>
  <defs>
    <g id="svg__home">
      <path d="M13 18v-1.5c0-1.93-1.57-3.5-3.5-3.5S6 14.57 6 16.5V18H2.783L9.498 7.01 16.216 18H13zm-5 0v-1.5c0-.826.672-1.5 1.5-1.5.826 0 1.5.674 1.5 1.5V18H8zm10.854.48L10.671 5.09l2.181-3.569L11.146.48 9.498 3.173 7.853.478 6.147 1.522l2.182 3.57L.146 18.48A1 1 0 0 0 1 20h17a.999.999 0 0 0 .854-1.52z" fill="currentColor" fill-rule="evenodd"/>
    </g>
    <g id="svg__article" fill="currentColor" fill-rule="evenodd">
      <path d="M16 7.002h-5v2h4v9h-2v2H2v-11h3v-2H1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h13c.265 0 .52-.105.707-.293l2-2a.997.997 0 0 0 .293-.707v-11a1 1 0 0 0-1-1"/>
      <path d="M13 11.001H4v2h9zM4 17.001h9v-2H4zM7 5.817v3.185a1 1 0 1 0 2 0V5.817A2.988 2.988 0 0 0 11 3a2.998 2.998 0 0 0-3-3 2.997 2.997 0 0 0-2.999 3A2.988 2.988 0 0 0 7 5.817"/>
    </g>
    <g id="svg__code" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Line-Icons" transform="translate(-433.000000, -913.000000)" fill="currentColor">
            <g id="Fill-111-+-Fill-112-+-Fill-113" transform="translate(433.000000, 913.000000)">
                <path d="M2,18.001 L2,6.001 L19.999,6.001 L19.997,18.001 L2,18.001 Z M5,4.001 L2,4.001 L2,2.001 L5,2.001 L5,4.001 Z M7,2.001 L10,2.001 L10,4.001 L7,4.001 L7,2.001 Z M20,4.001 L12,4.001 L12,2.001 L20,2.001 L20,4.001 Z M20,0.001 L2,0.001 C0.897,0.001 0,0.898 0,2.001 L0,18.001 C0,19.104 0.897,20.001 2,20.001 L20,20.001 C21.103,20.001 22,19.104 22,18.001 L22,2.001 C22,0.898 21.103,0.001 20,0.001 L20,0.001 Z" id="Fill-111"></path>
                <polygon id="Fill-112" points="12 15.001 17 15.001 17 13.001 12 13.001"></polygon>
                <polygon id="Fill-113" points="5.293 9.7083 7.586 12.0013 5.293 14.2953 6.707 15.7083 10.414 12.0013 6.707 8.2953"></polygon>
            </g>
        </g>
    </g>
  </defs>
</svg>