button
  border none
  outline none
  box-shadow none
  background none
  color currentColor
  padding 0
  cursor pointer

.b-menu
  width 25px
  height 25px
  position relative
  &:before,
  &:after
    content ' '
    position absolute
    background-color #fff
    display block
    width 100%
    height 3px
    left 0
    top 5px
    border-radius 3px
    transition all .5s
    transform-origin 20% 250%
  &:after
    top 11px
    box-shadow 0 6px 0 0 #fff
    transform-origin 55% 50%
  &:focus:before
    transform rotateZ(45deg) translate(-5%)
  &:focus:after
    box-shadow 0 0 0 0 #fff
    transform rotateZ(135deg) translate(5%)


