// mobile < 500px
@media screen and (max-width: mobile)
  fgDirMobile(dir)
    .fg__mb-24
      if dir == 1
        fg-row-grid(24)
      else
        fg-col-grid(24)
    .fg__mb-23
      if dir == 1
        fg-row-grid(23)
      else
        fg-col-grid(23)
    .fg__mb-22
      if dir == 1
        fg-row-grid(22)
      else
        fg-col-grid(22)
    .fg__mb-21
      if dir == 1
        fg-row-grid(21)
      else
        fg-col-grid(21)
    .fg__mb-20
      if dir == 1
        fg-row-grid(20)
      else
        fg-col-grid(20)
    .fg__mb-19
      if dir == 1
        fg-row-grid(19)
      else
        fg-col-grid(19)
    .fg__mb-18
      if dir == 1
        fg-row-grid(18)
      else
        fg-col-grid(18)
    .fg__mb-17
      if dir == 1
        fg-row-grid(17)
      else
        fg-col-grid(17)
    .fg__mb-17
      if dir == 1
        fg-row-grid(17)
      else
        fg-col-grid(17)
    .fg__mb-16
      if dir == 1
        fg-row-grid(16)
      else
        fg-col-grid(16)
    .fg__mb-15
      if dir == 1
        fg-row-grid(15)
      else
        fg-col-grid(15)
    .fg__mb-14
      if dir == 1
        fg-row-grid(14)
      else
        fg-col-grid(14)
    .fg__mb-13
      if dir == 1
        fg-row-grid(13)
      else
        fg-col-grid(13)
    .fg__mb-12
      if dir == 1
        fg-row-grid(12)
      else
        fg-col-grid(12)
    .fg__mb-11
      if dir == 1
        fg-row-grid(11)
      else
        fg-col-grid(11)
    .fg__mb-10
      if dir == 1
        fg-row-grid(10)
      else
        fg-col-grid(10)
    .fg__mb-9
      if dir == 1
        fg-row-grid(9)
      else
        fg-col-grid(9)
    .fg__mb-8
      if dir == 1
        fg-row-grid(8)
      else
        fg-col-grid(8)
    .fg__mb-7
      if dir == 1
        fg-row-grid(7)
      else
        fg-col-grid(7)
    .fg__mb-6
      if dir == 1
        fg-row-grid(6)
      else
        fg-col-grid(6)
    .fg__mb-5
      if dir == 1
        fg-row-grid(5)
      else
        fg-col-grid(5)
    .fg__mb-4
      if dir == 1
        fg-row-grid(4)
      else
        fg-col-grid(4)
    .fg__mb-3
      if dir == 1
        fg-row-grid(3)
      else
        fg-col-grid(3)
    .fg__mb-2
      if dir == 1
        fg-row-grid(2)
      else
        fg-col-grid(2)
    .fg__mb-1
      if dir == 1
        fg-row-grid(1)
      else
        fg-col-grid(1)
        
  .fg-row,
  .fg__pad-row,
  .fg__mb-row
    fg-row(0)
    &>
      fgDirMobile(1)
  .fg-col,
  .fg__pad-col,
  .fg__mb-col
    fg-col(0)
    &>
      fgDirMobile(0)
  .fg-row--r,
  .fg__pad-row--r,
  .fg__mb-row--r
    fg-row(r)
    &>
      fgDirMobile(1)
  .fg-col--r,
  .fg__pad-col--r,
  .fg__mb-col--r
    fg-col(r)
    &>
      fgDirMobile(0)

  .fg__mb-jc--b
    fg-jc(sb)
  .fg__mb-ai--c
    fg-ai(c)
    
  .fg__mb-wrap
    fg-wrap(0)
  .fg__mb-wrap--no
    fg-wrap(no)
  .fg__mb-wrap--r
    fg-wrap(r)