row()
  display flex
  flex-flow column wrap
col()
  display flex
  flex-flow row wrap
.fg-row
  row()
.fg-col
  col()
.fg-row--reverse
  display flex
  flex-flow column-reverse wrap
.fg-col--reverse
  display flex
  flex-flow row-reverse wrap
  
.fg-wrap--no
  flex-wrap nowrap
.fg-wrap--reverse
  flex-wrap wrap-reverse

grid(items)
  // width (items/24*100) %
  flex-basis (items/24*100) %

offset(items)
  margin-left (items/24*100) %

/*** grid ***/
.fg-24
  grid(24)
.fg-23
  grid(23)
.fg-22
  grid(22)
.fg-21
  grid(21)
.fg-20
  grid(20)
.fg-19
  grid(19)
.fg-18
  grid(18)
.fg-17
  grid(17)
.fg-17
  grid(17)
.fg-16
  grid(16)
.fg-15
  grid(15)
.fg-14
  grid(14)
.fg-13
  grid(13)
.fg-12
  grid(12)
.fg-11
  grid(11)
.fg-10
  grid(10)
.fg-9
  grid(9)
.fg-8
  grid(8)
.fg-7
  grid(7)
.fg-6
  grid(6)
.fg-5
  grid(5)
.fg-4
  grid(4)
.fg-3
  grid(3)
.fg-2
  grid(2)
.fg-1
  grid(1)

/*** offset ***/
.fg-offset-24
  offset(24)
.fg-offset-23
  offset(23)
.fg-offset-22
  offset(22)
.fg-offset-21
  offset(21)
.fg-offset-20
  offset(20)
.fg-offset-19
  offset(19)
.fg-offset-18
  offset(18)
.fg-offset-17
  offset(17)
.fg-offset-17
  offset(17)
.fg-offset-16
  offset(16)
.fg-offset-15
  offset(15)
.fg-offset-14
  offset(14)
.fg-offset-13
  offset(13)
.fg-offset-12
  offset(12)
.fg-offset-11
  offset(11)
.fg-offset-10
  offset(10)
.fg-offset-9
   offset(9)
.fg-offset-8
   offset(8)
.fg-offset-7
   offset(7)
.fg-offset-6
   offset(6)
.fg-offset-5
   offset(5)
.fg-offset-4
   offset(4)
.fg-offset-3
   offset(3)
.fg-offset-2
   offset(2)
.fg-offset-1
   offset(1)

// pad < 768px
@media screen and (max-width: pad)
  .fg-pad-row
    row()
  .fg-pad-col
    col()
  .fg-pad-24
    grid(24)
  .fg-pad-23
    grid(23)
  .fg-pad-22
    grid(22)
  .fg-pad-21
    grid(21)
  .fg-pad-20
    grid(20)
  .fg-pad-19
    grid(19)
  .fg-pad-18
    grid(18)
  .fg-pad-17
    grid(17)
  .fg-pad-17
    grid(17)
  .fg-pad-16
    grid(16)
  .fg-pad-15
    grid(15)
  .fg-pad-14
    grid(14)
  .fg-pad-13
    grid(13)
  .fg-pad-12
    grid(12)
  .fg-pad-11
    grid(11)
  .fg-pad-10
    grid(10)
  .fg-pad-9
    grid(9)
  .fg-pad-8
    grid(8)
  .fg-pad-7
    grid(7)
  .fg-pad-6
    grid(6)
  .fg-pad-5
    grid(5)
  .fg-pad-4
    grid(4)
  .fg-pad-3
    grid(3)
  .fg-pad-2
    grid(2)
  .fg-pad-1
    grid(1)

// mobile < 500px
@media screen and (max-width: mobile)
  .fg-mb-row
    row()
  .fg-mb-col
    col()
  .fg-mb-24
    grid(24)
  .fg-mb-23
    grid(23)
  .fg-mb-22
    grid(22)
  .fg-mb-21
    grid(21)
  .fg-mb-20
    grid(20)
  .fg-mb-19
    grid(19)
  .fg-mb-18
    grid(18)
  .fg-mb-17
    grid(17)
  .fg-mb-17
    grid(17)
  .fg-mb-16
    grid(16)
  .fg-mb-15
    grid(15)
  .fg-mb-14
    grid(14)
  .fg-mb-13
    grid(13)
  .fg-mb-12
    grid(12)
  .fg-mb-11
    grid(11)
  .fg-mb-10
    grid(10)
  .fg-mb-9
    grid(9)
  .fg-mb-8
    grid(8)
  .fg-mb-7
    grid(7)
  .fg-mb-6
    grid(6)
  .fg-mb-5
    grid(5)
  .fg-mb-4
    grid(4)
  .fg-mb-3
    grid(3)
  .fg-mb-2
    grid(2)
  .fg-mb-1
    grid(1)
