// mobile < 500px
@media screen and (max-width: mobile)
  .fg__mb-row
    fg-row(null)
  .fg__mb-col
    fg-col(null)
  .fg__mb-row--r
    fg-row(r)
  .fg__mb-col--r
    fg-col(r)

  .fg__mb-wrap--no
    fg-wrap(no)
  .fg__mb-wrap--r
    fg-wrap(r)
  .fg__mb-wrap
    fg-wrap(null)
    
  .fg__mb-auto
    fg-auto()
  .fg__mb-full
    fg-full()

  .fg__mb-24
    fg-grid(24)
  .fg__mb-23
    fg-grid(23)
  .fg__mb-22
    fg-grid(22)
  .fg__mb-21
    fg-grid(21)
  .fg__mb-20
    fg-grid(20)
  .fg__mb-19
    fg-grid(19)
  .fg__mb-18
    fg-grid(18)
  .fg__mb-17
    fg-grid(17)
  .fg__mb-17
    fg-grid(17)
  .fg__mb-16
    fg-grid(16)
  .fg__mb-15
    fg-grid(15)
  .fg__mb-14
    fg-grid(14)
  .fg__mb-13
    fg-grid(13)
  .fg__mb-12
    fg-grid(12)
  .fg__mb-11
    fg-grid(11)
  .fg__mb-10
    fg-grid(10)
  .fg__mb-9
    fg-grid(9)
  .fg__mb-8
    fg-grid(8)
  .fg__mb-7
    fg-grid(7)
  .fg__mb-6
    fg-grid(6)
  .fg__mb-5
    fg-grid(5)
  .fg__mb-4
    fg-grid(4)
  .fg__mb-3
    fg-grid(3)
  .fg__mb-2
    fg-grid(2)
  .fg__mb-1
    fg-grid(1)

  .fg__mb-jc--sb
    fg-jc(sb)
  .fg__mb-jc--sa
    fg-jc(sa)
  .fg__mb-jc--c
    fg-jc(c)
  .fg__mb-jc--fe
    fg-jc(fe)
  .fg__mb-jc--fs
    fg-jc(fs)
    
  .fg__mb-ai--st
    fg-ai(st)
  .fg__mb-ai--bl
    fg-ai(bl)
  .fg__mb-ai--c
    fg-ai(c)
  .fg__mb-ai--fe
    fg-ai(fe)
  .fg__mb-ai--fs
    fg-ai(fs)

  .fg__mb-after-1
    fg-order(1)
  .fg__mb-before-1
    fg-order(-1)
  .fg__mb-after-0,
  .fg__mb-before-0
    fg-order(0)

  /*** offset ***/
  .fg__mb-offset-24
    fg-offset(24)
  .fg__mb-offset-23
    fg-offset(23)
  .fg__mb-offset-22
    fg-offset(22)
  .fg__mb-offset-21
    fg-offset(21)
  .fg__mb-offset-20
    fg-offset(20)
  .fg__mb-offset-19
    fg-offset(19)
  .fg__mb-offset-18
    fg-offset(18)
  .fg__mb-offset-17
    fg-offset(17)
  .fg__mb-offset-17
    fg-offset(17)
  .fg__mb-offset-16
    fg-offset(16)
  .fg__mb-offset-15
    fg-offset(15)
  .fg__mb-offset-14
    fg-offset(14)
  .fg__mb-offset-13
    fg-offset(13)
  .fg__mb-offset-12
    fg-offset(12)
  .fg__mb-offset-11
    fg-offset(11)
  .fg__mb-offset-10
    fg-offset(10)
  .fg__mb-offset-9
     fg-offset(9)
  .fg__mb-offset-8
     fg-offset(8)
  .fg__mb-offset-7
     fg-offset(7)
  .fg__mb-offset-6
     fg-offset(6)
  .fg__mb-offset-5
     fg-offset(5)
  .fg__mb-offset-4
     fg-offset(4)
  .fg__mb-offset-3
     fg-offset(3)
  .fg__mb-offset-2
     fg-offset(2)
  .fg__mb-offset-1
     fg-offset(1)