/*** grid ***/
  
fg-row(v)
  display flex
  if v == 'r'
    flex-flow row-reverse wrap
  else
    flex-flow row wrap
fg-col(v)
  display flex
  if v == 'r'
    flex-flow column-reverse wrap
  else
    flex-flow column wrap
  
fg-jc(v)
  if v == 'sb'
    justify-content space-between
  if v == 'sa'
    justify-content space-around
  if v == 'c'
    justify-content center
  
fg-ai(v)
  align-items center

fg-wrap(v)
  if v == 'no'
    flex-wrap nowrap
  else if v == 'r'
    flex-wrap wrap-reverse
  else
    flex-wrap wrap

fg-row-grid(items)
  width (items/24*100) %
  flex-basis (items/24*100) %

fg-col-grid(items)
  height (items/24*100) %
  flex-basis (items/24*100) %

fg-offset(items)
  margin-left (items/24*100) %

fg-auto()
  flex 0 0 auto
fg-full()
  flex 1 1 100%

/*** grid ***/
@import './flexGridNormal'

// pad < 768px
@import './flexGridPad'

// mobile < 500px
@import './flexGridMobile'
