.fg-row
  fg-row(null)
.fg-col
  fg-col(null)
.fg-row--r
  fg-row(r)
.fg-col--r
  fg-col(r)

.fg-wrap--no
  fg-wrap(no)
.fg-wrap--r
  fg-wrap(r)
.fg-wrap
  fg-wrap(null)
  
.fg-auto
  fg-auto()
.fg-full
  fg-full()

.fg-24
  fg-grid(24)
.fg-23
  fg-grid(23)
.fg-22
  fg-grid(22)
.fg-21
  fg-grid(21)
.fg-20
  fg-grid(20)
.fg-19
  fg-grid(19)
.fg-18
  fg-grid(18)
.fg-17
  fg-grid(17)
.fg-17
  fg-grid(17)
.fg-16
  fg-grid(16)
.fg-15
  fg-grid(15)
.fg-14
  fg-grid(14)
.fg-13
  fg-grid(13)
.fg-12
  fg-grid(12)
.fg-11
  fg-grid(11)
.fg-10
  fg-grid(10)
.fg-9
  fg-grid(9)
.fg-8
  fg-grid(8)
.fg-7
  fg-grid(7)
.fg-6
  fg-grid(6)
.fg-5
  fg-grid(5)
.fg-4
  fg-grid(4)
.fg-3
  fg-grid(3)
.fg-2
  fg-grid(2)
.fg-1
  fg-grid(1)

.fg-jc--sb
  fg-jc(sb)
.fg-jc--sa
  fg-jc(sa)
.fg-jc--c
  fg-jc(c)
.fg-jc--fs
  fg-jc(fs)
.fg-jc--fe
  fg-jc(fe)
  
.fg-ai--c
  fg-ai(c)
.fg-ai--bl
  fg-ai(bl)
.fg-ai--fs
  fg-ai(fs)
.fg-ai--fe
  fg-ai(fe)
.fg-ai--st
  fg-ai(st)

.fg-after-1
  fg-order(1)
.fg-before-1
  fg-order(-1)
.fg-after-0,
.fg-before-0
  fg-order(0)

/*** offset ***/
.fg-offset-24
  fg-offset(24)
.fg-offset-23
  fg-offset(23)
.fg-offset-22
  fg-offset(22)
.fg-offset-21
  fg-offset(21)
.fg-offset-20
  fg-offset(20)
.fg-offset-19
  fg-offset(19)
.fg-offset-18
  fg-offset(18)
.fg-offset-17
  fg-offset(17)
.fg-offset-17
  fg-offset(17)
.fg-offset-16
  fg-offset(16)
.fg-offset-15
  fg-offset(15)
.fg-offset-14
  fg-offset(14)
.fg-offset-13
  fg-offset(13)
.fg-offset-12
  fg-offset(12)
.fg-offset-11
  fg-offset(11)
.fg-offset-10
  fg-offset(10)
.fg-offset-9
   fg-offset(9)
.fg-offset-8
   fg-offset(8)
.fg-offset-7
   fg-offset(7)
.fg-offset-6
   fg-offset(6)
.fg-offset-5
   fg-offset(5)
.fg-offset-4
   fg-offset(4)
.fg-offset-3
   fg-offset(3)
.fg-offset-2
   fg-offset(2)
.fg-offset-1
   fg-offset(1)