// pad < 768px
@media screen and (max-width: pad)
  .fg__pad-row
    fg-row(null)
  .fg__pad-col
    fg-col(null)
  .fg__pad-row--r
    fg-row(r)
  .fg__pad-col--r
    fg-col(r)

  .fg__pad-wrap--no
    fg-wrap(no)
  .fg__pad-wrap--r
    fg-wrap(r)
  .fg__pad-wrap
    fg-wrap(null)
    
  .fg__pad-auto
    fg-auto()
  .fg__pad-full
    fg-full()

  .fg__pad-24
    fg-grid(24)
  .fg__pad-23
    fg-grid(23)
  .fg__pad-22
    fg-grid(22)
  .fg__pad-21
    fg-grid(21)
  .fg__pad-20
    fg-grid(20)
  .fg__pad-19
    fg-grid(19)
  .fg__pad-18
    fg-grid(18)
  .fg__pad-17
    fg-grid(17)
  .fg__pad-17
    fg-grid(17)
  .fg__pad-16
    fg-grid(16)
  .fg__pad-15
    fg-grid(15)
  .fg__pad-14
    fg-grid(14)
  .fg__pad-13
    fg-grid(13)
  .fg__pad-12
    fg-grid(12)
  .fg__pad-11
    fg-grid(11)
  .fg__pad-10
    fg-grid(10)
  .fg__pad-9
    fg-grid(9)
  .fg__pad-8
    fg-grid(8)
  .fg__pad-7
    fg-grid(7)
  .fg__pad-6
    fg-grid(6)
  .fg__pad-5
    fg-grid(5)
  .fg__pad-4
    fg-grid(4)
  .fg__pad-3
    fg-grid(3)
  .fg__pad-2
    fg-grid(2)
  .fg__pad-1
    fg-grid(1)

  .fg__pad-jc--sb
    fg-jc(sb)
  .fg__pad-jc--sa
    fg-jc(sa)
  .fg__pad-jc--c
    fg-jc(c)
  .fg__pad-jc--fe
    fg-jc(fe)
  .fg__pad-jc--fs
    fg-jc(fs)
    
  .fg__pad-ai--st
    fg-ai(st)
  .fg__pad-ai--bl
    fg-ai(bl)
  .fg__pad-ai--c
    fg-ai(c)
  .fg__pad-ai--fe
    fg-ai(fe)
  .fg__pad-ai--fs
    fg-ai(fs)

  .fg__pad-after-1
    fg-order(1)
  .fg__pad-before-1
    fg-order(-1)
  .fg__pad-after-0,
  .fg__pad-before-0
    fg-order(0)

  /*** offset ***/
  .fg__pad-offset-24
    fg-offset(24)
  .fg__pad-offset-23
    fg-offset(23)
  .fg__pad-offset-22
    fg-offset(22)
  .fg__pad-offset-21
    fg-offset(21)
  .fg__pad-offset-20
    fg-offset(20)
  .fg__pad-offset-19
    fg-offset(19)
  .fg__pad-offset-18
    fg-offset(18)
  .fg__pad-offset-17
    fg-offset(17)
  .fg__pad-offset-17
    fg-offset(17)
  .fg__pad-offset-16
    fg-offset(16)
  .fg__pad-offset-15
    fg-offset(15)
  .fg__pad-offset-14
    fg-offset(14)
  .fg__pad-offset-13
    fg-offset(13)
  .fg__pad-offset-12
    fg-offset(12)
  .fg__pad-offset-11
    fg-offset(11)
  .fg__pad-offset-10
    fg-offset(10)
  .fg__pad-offset-9
     fg-offset(9)
  .fg__pad-offset-8
     fg-offset(8)
  .fg__pad-offset-7
     fg-offset(7)
  .fg__pad-offset-6
     fg-offset(6)
  .fg__pad-offset-5
     fg-offset(5)
  .fg__pad-offset-4
     fg-offset(4)
  .fg__pad-offset-3
     fg-offset(3)
  .fg__pad-offset-2
     fg-offset(2)
  .fg__pad-offset-1
     fg-offset(1)