.l-mH--auto
  margin 0 auto

.l-ta--c
  text-align center
  
// flex
.l-flexH--sa
  display flex
  flex-flow row nowrap
  align-items center
  justify-content space-around
.l-flexV--c
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center

// page
.l-page--Full
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  
// padding
.l-pt10
  padding-top 10px
.l-pl10
  padding-left 10px
  