.md-content
  img
    display block
    max-width 100%
    margin 20px 0
  a
    color c-master
  h1,h2,h3,h4,h5,h6
    padding-bottom .3em
    border-bottom 1px solid #dcdcdc
  p
    line-height 1.4em
    &:not(:first-child)
      text-indent 1em
  pre
    color #ccdce1
    background-color #212e35
    overflow auto
    border 1px solid #465d65
    padding 25px 10px 15px
    border-radius 5px
    position relative
  code:before
    position absolute
    top 5px
    left 1em
    content attr(class)
    display inline-block
    color #4a626b
    font-size 12px
  .hljs-function
    color #a87fc6
  .hljs-built_in
    color #dcb360
  .hljs-keyword
    color #eb4f6a
  .hljs-attr
    color #5477bf
  .hljs-literal
    color #cd775f
  .hljs-params
    color #da7c61
  .hljs-number
    color #60eab7
  .hljs-string
    color #a6ce83
  .hljs-title
    color #6d94db
  .hljs-comment
    color #4a626b
    
  .hljs-selector-id
    color #a87fc6
  .hljs-selector-class
    color #dcb360
  .hljs-selector-tag
    color #da7c61
  .hljs-attribute
    color #5477bf
    
  .hljs-meta
    color #eb4f6a
  .hljs-tag
    color #84d5ed
  .hljs-name
    color #e46b70




