/*** link ***/
.u-link
  text-decoration none
  color currentColor
.u-link--active
  color c-master

/*** clearfix ***/
.u-clearfix:after,
.u-clearfix:before
  display table
  content " "
.u-clearfix:after
  clear both

/*** box-shadow ***/  
.u-boxShadow
  box-shadow 0px 2px 5px 0px rgba(0,0,0,0.3)