// font-size
.u-fs12
  font-size 12px
.u-fs14
  font-size 14px
.u-fs16
  font-size 16px
.u-fs18
  font-size 18px

// font-color
.u-c--9e
  color c-9e

/*** link ***/
.u-link
  text-decoration none
  color c-master
.u-link__inherit
  text-decoration none
  color currentColor
.u-link--Active
  color c-master

/*** ul ***/
.u-ul--Reset
  list-style-type none
  padding-left 0
  
// borderBox
.u-borderBox
  box-sizing border-box

/*** clearfix ***/
.u-clearfix:after,
.u-clearfix:before
  display table
  content " "
.u-clearfix:after
  clear both

/*** box-shadow ***/  
.u-boxShadow
  box-shadow 0px 2px 5px 0px rgba(0,0,0,0.3)

// z-index
.u-zIndex10
  z-index 10
.u-zIndex50
  z-index 50
  
// vertical-align
.u-va--m
  vertical-align middle
.u-va--tb
  vertical-align text-bottom  

// background
.u-bgi--Center
  background-size cover
  background-position center center
  background-repeat no-repeat
