/*** size ***/
max-width = 1000px

/*** grid ***/
min = 320px // -∞ ~ 320px
mobile = 500px // 320px ~ 500px
pad = 768px // 768px ~ 992px
laptop = 992px // 992px ~ 1200px
pc = 1200px // 1200px ~ +∞

/*** colors ***/
// c-master = #6badf9
c-master = #1abc9c
c-lesser = #474747
c-text = #34495e
c-bgc = #edeef0

c-ff = #fff
c-9e = #9e9e9e

// size
s-articleList = 200px

// cubic-bezier
cb-duang = cubic-bezier(0.66, 0.1, 0.38, 1.45)
